body {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.title {
    max-width: 1440px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    /*margin-bottom: 74px;*/
    position: relative;
}
.header__logo {
    margin-left: 83px;
}
.menu {
    display: flex;
    justify-content: center;
    padding-left: 77px;
}
.menu-items__link {
    margin-right: 44px;
    font-size: 15px;
    font-weight: 600;
    /*line-height: 27px;*/
    color: #000000;
    text-decoration: none;
}
.menu-items__link-active {
    color: #E51937;
    border-bottom: 2px solid #E51937;
    border-bottom-right-radius: 50px 4px;
    border-bottom-left-radius: 50px 4px;
}
.second-menu {
    display: flex;
    justify-content: flex-end;
}
.second-menu__item {
    margin-right: 30px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.second-menu__btn {
    margin-right: 8px;
    width: 24px;
    height: 15px;
    position: relative;
    cursor: pointer;
}
.second-menu__btn-item {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #E51937;
    border-radius: 4px;

}
.second-menu__btn-item__second {
    top: 8px;
}
.second-menu__btn-item__third {
    top: 16px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2px;
    padding-left: 66px;
}
.wrap__title {
    white-space: nowrap;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: -10px;
}
.wrap__subtitle {
    font-size: 15px;
    font-weight: 500;
}
.wrap__img {
    width: 100%;
    margin-top: -107px;
}
.first__info {
    max-width: 850px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 316px;
}
.infoWrap {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.infoBlock {
    position: relative;
}
.infoBlock__img {
    display: inline-block;
    margin-right: 14px;
}
.infoBlock__img-firstSize {
    position: relative;
    bottom: 8px;
    width: 46px;
    height: 35px;
}
.infoBlock__img-secondSize {
    width: 27px;
    height: 43px;
}
.infoBlock__data {
    display: inline-block

}
.infoBlock__data-title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: -15px;
}
.infoBlock__data-title span {
    font-size: 20px;
    font-weight: 500;
}
.infoBlock__data-text {
    font-size: 12px;
}
.btn-block {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
}
.btn-block__info {
    display: inline-block;
    text-align: center;
}
.btn-block__info-img {
    line-height: 22px;
    width: 140px;
    height: 22px;
    background: url(img/steering-wheel.svg) no-repeat;

}
.btn-block__info-link {
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: bold;
}
.btn-block__info-img:hover {
    color: #E51937;
    background: url(img/steering-wheel-red.svg) no-repeat;
}
.btn-block__button {
    width: 160px;
    height: 40px;
    border: 2px solid #E51937;
    background-color: transparent;
    font-size: 13px;
    color: #E51937;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.btn-block__button:hover {
    background-color: #E51937;
    color: white;
}
